<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dao.UserMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fly.entity.UserMessage">
        <id column="id" property="id" />
        <result column="from_user_id" property="fromUserId" />
        <result column="to_user_id" property="toUserId" />
        <result column="post_id" property="postId" />
        <result column="comment_id" property="commentId" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="created" property="created" />
        <result column="modified" property="modified" />
    </resultMap>

</mapper>
