<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基于 layui 的极简社区页面模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">

    <link th:include="common/static :: style">

</head>
<body>
<!--头-->
<div th:include="common/templates :: header"></div>
<div th:include="common/templates::header-nav"></div>

<div class="layui-container">
    <div class="layui-row layui-col-spacel5">
        <div class="layui-col-md8">
            <div class="fly-panel">
                <div class="fly-panel-title fly-filter">
                    <a>置顶</a>
                    <a href="#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin"
                       style="color: #FF5722;">去签到</a>
                </div>
                <ul class="fly-list">

                </ul>
            </div>
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">

                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <!--签到-->
            <div th:include="common/templates :: signin"></div>
            <!--本周热议-->
            <div th:include="common/templates :: weekPopular"></div>
            <!--广告与友情链接-->
            <div th:include="common/templates:: ads"></div>
        </div>
    </div>
    <!--中间内容-->
</div>
<!--尾-->
<div th:include="common/templates :: footer"></div>
</body>
</html>